    h3{font-color:black;border-bottom-style: solid #00 8B 8B;}

body { 
      margin:20px; color:#20B2AA; background-color:#F5FFFA;
      font-family:Arial; font-weight:600; font-size:120%;
    }
    .indent { margin-left:20px; margin-right:20px; }
    h4 { margin-bottom: 3px; margin-top:3px; }
    
 